<%- include('./includes/start.ejs') %>
</head>
<body>
    <%- include('./includes/bodyStart.ejs') %>
    <% if(!locals.bookinstances) {%>
        <p>Do you want to delete this book?</p>
        <form action="" method="post">
            <input type="hidden" name="book_id" value="<%=book._id%>" required=true class="form-control">
            <button type="submit" class="btn btn-primary">confirm</button>
        </form>
    <%} else {%>
        <p>This book has following copies in the records</p>
        <p>Try deleting them first</p>
        <div style='margin-left:20px;margin-top:20px'>
            <h4>Copies: </h4>
            <% bookinstances.forEach( bookCopy => {%>
                <hr>
                <h5><strong>ID:</strong> <a href="<%=bookCopy.url%>"><%=bookCopy.id%></a></h5>
                <p><strong>Title: </strong><a href="<%=bookCopy.book.url%>"><%=bookCopy.book.title%></a></p>
                <p><strong>Imprint: </strong><%=bookCopy.imprint%></a></p>
                <p><a href="<%=bookCopy.url+'/delete'%>">Delete copy</a></p>
            <%})%>
        </div>
    <%}%>
    <%- include('./includes/bodyEnd.ejs') %>
</body>
</html>