<%- include('./includes/start.ejs') %>
</head>
<body>
    <%- include('./includes/bodyStart.ejs') %>
    <h1>ID: <%=bookinstance.id%></h1>
    <p><strong>Title: </strong><a href="<%=bookinstance.book.url%>"><%=bookinstance.book.title%></a></p>
    <p><strong>Imprint: </strong><%=bookinstance.imprint%></a></p>
    <% let spanClass = bookinstance.status === 'Available' ? 'text-success' : (bookinstance.status === 'Maintenance' ? 'text-danger' : 'text-warning') %>
    <p><strong>Status: </strong><span class="<%=spanClass%>"><%=bookinstance.status%></span></p>
    <% if(bookinstance.status !== 'Available') {%>
        <p><strong>Due Date: </strong><%=bookinstance.due_date_formatted%></p>
    <%}%>
    <hr>
    <p>
        <a href="<%=bookinstance.url+'/delete'%>">Delete copy</a>
        <a href="<%=bookinstance.url+'/update'%>">Update copy</a>
    </p>
    <%- include('./includes/bodyEnd.ejs') %>
</body>
</html>